<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5QF2Z4N');</script>
  <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='onts/fontawesome-all.min.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome.min.css')}}" >
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/fontawesome5-overrides.min.css')}}">
    
    <style>

      .navbar{
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
      }

      #maincont {
        text-align: center;
        margin-top: 100px;
        padding: 20px;
      }

      #myProgress {
        width: 100%;
        background-color: rgb(184, 184, 184);
        border-radius: 15px;
      }

      #myBar {
        width: 3%;
        height: 30px;
        background-color: rgb(255, 174, 0);
        border-radius: 15px;
      }
      #check-2{
        display : none;
      }
      #check-3{
        display : none;
      }
      #check-4{
        display : none;
      }
      #check-5{
        display : none;
      }
      #check-6{
        display : none;
      }


      #check-1{
        display : block;
      }

      

      .box-cont{
      margin-top:18px;
      box-shadow: 0.8px 0.8px 10px rgb(170, 170, 170);
      background-color:rgb(255, 255, 255);
      padding: 15px;
      border-radius:7px ;
      

    
     }
     .box-cont2{
      
      box-shadow: 0.8px 0.8px 10px rgb(170, 170, 170);
      background-color:rgb(255, 255, 255);
      padding: 15px;
      
      

    
     }

     .main-pic{
       max-width: 200px;
       max-height: 200px;
     }

     .coupon-pic{
       max-width: 130px;
       max-height: 130px;
     }

     .coupon-button{
       background-color: rgb(255, 245, 160);
       border-color: #03989e;border-style: dashed;border-width: 4px;
       font-size: 20px;
       border-radius:7px ;
       font-size: 23px;
      
     }

     .left-bord{
      border-left-color: #0000000e;;border-left-style: solid;
      padding-left: 15px;
      border-width: 2px;
     }

     .bot-bord{
      border-bottom-color: #0000000e;;border-bottom-style: solid;
      padding-bottom: 15px;
      border-width: 2px;
     }

     .store{
       margin-top:3px;
       color:blue;
     }
     .banner{
         display:none
       }

       .verified_bis{
         display:none

}



     @media  (max-width: 990px) {
       .banner{
         display:block
       }

       .banner-text{
         font-size:medium;

       }

       .my_text{
         font-size:medium;
       }


     }

     @media  (max-width: 766px) {
       .search{
         display:none;
      
       }
       .verified_bis{
         display:block

}


     }


     @media  (max-width: 594px) {
       .jumbotron{
         text-align: center;
       }
       .jumbotron1{
         text-align: center;
       }


     }





     .background-div{
       background-image: url(https://images.unsplash.com/photo-1456154875099-97a3a56074d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
       background-size: cover;
     }

     .home-header{
       color: white;
       font-weight: bold;
       text-shadow: 2px 2px 20px  rgba(255, 255, 255, 0.5);
     }





    </style>
    

    <title>{{Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>
<body >
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5QF2Z4N"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="wrap_all" style="background-color:rgb(240, 240, 240)">

  

  <div class="banner" style="width: 100%; background-color:#810000 ;text-align:center;">
    <div class="container">
    <div class="d-flex justify-content-center align-items-center  ">
    
      <div class="p-2" style="color: white; "> <h5 class="banner-text"><strong>WARNING:</strong> We Scan The Web For The Cheapest Price! If you find a cheaper price than ours, it is most likely related to scam or other illegal activities.</div></h5>
      
    </div>
  </div>
  </div>
    
    <nav class="navbar navbar-light box-cont2 " style="background: #ffffff;">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='logo.jpg')}}" style="height:70px" alt=""></a>
          <img class="verified_bis"  src="{{url_for('static', filename='trustlock-trust-badge-example.png')}}" style="height:25px;margin-left: 7px;margin-top: -5px;" alt="">

          <div class="search">
            <form class="d-flex ">
              <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
              <button class="btn " type="submit search" style="color:white;background-color: #03989e;">Search</button>
            </form>

          </div>
          
        </div>
      </nav>

      {% block Content %}

      {% endblock %}


      <div style="width: 100%; background-color:#ffffff ;">
      <div class="container" style="text-align: center;margin-top: 40px;">
        <div class="row" style="margin-top: 30px;">
         <a class="col" href="/impressum"><div style="margin: 30px;" >Impressum</div></a> 
         <a class="col-2" href="/privacy"><div style="margin: 30px;" >Privacy Policy</div></a> 
         <a class="col" href="/terms"><div style="margin: 30px;" >Terms Of Use</div></a> 
        </div>
      </div>
    </div>

  </div>      
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>    
</body>
</html>